<h2>Edit Profile</h2>

<%= form_with model: @user,
              url: profile_path,
              method: :patch do |form| %>

  <div class="mb-3">
    <%= form.label :email_address %>
    <%= form.email_field :email_address,
                         class: "form-control" %>
  </div>

  <hr>

  <h4>Change Password</h4>

  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password,
                            class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation,
                            class: "form-control" %>
  </div>

  <%= form.submit "Update Profile",
                  class: "btn btn-primary" %>

<% end %>