<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "MyStore", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>
      </ul>

      <div class="d-flex">
        <%= form_with url: search_path, method: :get, local: true, class: "d-flex" do %>
          <%= search_field_tag :query,
                              params[:query],
                              placeholder: "Search products...",
                              class: "form-control me-2" %>

          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>

        <% if authenticated? %>
          <%= link_to cart_path(Current.user.cart),
            class: "position-relative text-white text-decoration-none me-3" do %>

            <i class="bi bi-cart3 fs-4"></i>

            <% if Current.user.cart.present? && Current.user.cart.cart_items.any? %>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <%= Current.user.cart.cart_items.sum(:quantity) %>
              </span>
            <% end %>

          <% end %>

          <li class="nav-item">
            <%= link_to wishlists_path, class: "position-relative text-white text-decoration-none me-3 mt-1" do %>
              <i class="bi bi-heart fs-5"></i>
              <% if authenticated? && current_user.wishlists.any? %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <%= current_user.wishlists.count %>
                </span>
              <% end %>
            <% end %>
          </li>

          <%= link_to profile_path do %>
            <i class="bi bi-person-circle fs-4 ml-5"></i>
          <% end %>

        <% else %>
          <%= link_to "Login",
                      new_session_path,
                      class: "btn btn-outline-light me-2" %>

          <%= link_to "Sign Up",
                      new_registration_path,
                      class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
